<nav>
    <div  class="logo-div">
        <a href="/">
            <div>
                <img class="logo" src="/images/logos/logo.png" alt="oba logo" />
            </div>
        </a>
    </div>


    <div>
        <img src="/images/character/mobile-assistent.png" alt="virtual assistent" class="virtual-assistant" />
    </div>


    <ul>
        <li>
            <a href="/"><img src="/images/icons/chat-icon.svg" alt="heart icon" />Zoek</a>
        </li>
        <li>
            <a href="/favorite"><img src="/images/icons/heart.svg" alt="heart icon" />Favorieten</a>
        </li>
        <li>
            <a href="https://www.oba.nl/service/contact/chatmetdeoba.html"><img src="/images/icons/question.svg" alt="heart icon" />Praat
                met een <br />medewerker</a>
        </li>
    </ul>
</nav>