// results of what is being searched for/fetched


@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#parent_results {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
   
    
  
  



    #results {
        background-color: var(--background);
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 100%;
      
      

       .image-container{

        .no-image-message{
            color: grey;
          
            
        }

       }


        .no-results-message {
            color: grey;
            font-size: 1.3reM;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            min-width: 100vw;
            position: fixed;
            right: 0;
            top: -2em;
            padding: 1em;
            background-color: var(--background);

          
           
        }


        // h2 heading with format type such as book
        .format-heading {
            margin-bottom: 10px;
            font-size: 1.2rem;
            margin-left: 2em;

        }

        // container with the book and title
        .results-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // gap: 20px 20px;


            // the container of the whole book
            a {
                text-decoration: none;

                &:hover {
                    animation: bounce 1s infinite;
                }

                // img of a result
                img {
                    width: 100px;
                    height: 140px;
                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                }

                .detail-div {
                    margin-bottom: 20px;

                    // title of book
                    h3 {
                        color: #3c389e;
                        word-wrap: break-word;
                        width: 128px;
                        font-size: 0.8em;
                    }

                    // author
                    p {
                        color: grey;
                        word-wrap: break-word;
                        width: 128px;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}





// desktop
@media (min-width:80em) {
    #parent_results {
       bottom: 2em;
        min-width: 100vw;

        #results {
            // so it's below the robot bar
            position: absolute;
            // max-width: 80vw;
            padding-left: 2em;
          
            .no-results-message {
                color: grey;
                font-size: 2rem;
                justify-content: center;
                margin: 0;
            }


            .results-container {
                gap: 1em;
                position: relative;
                top: 40em;
                background-color: var(--background);
                // min-width: 100vw;
                min-height:70vh;
                // margin:0 2em;
                min-width: 80vw;



                a {
                    img {
                        width: 140px;
                        height: 180px;
                    }
                }

            }


        }
    }
}