<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include("../partials/head");%>
    <title>OBA Catalogus - Favorieten</title>
</head>

<body>
    <%- include("../partials/nav");%>
    <h1 class="oba-title">Favorieten</h1>

    <div id="favorite-wrapper">

        <div class="favorites-container">
            <% if (favoriteContent) { %>
            <p><%= favoriteContent %></p>
            <% } else { %>
            <p>No favorite content found.</p>
            <% } %>
        </div>

    </div>

</body>

</html>